{{#each this}}
    <li><div class="photo-card">

      {{#if backdrop_path}}
        <img class="gallery-image" src="" data-source={{largeImageURL}} data-id="{{id}}" alt="{{tags}}" data-lazy="{{webformatURL}}"/>
      {{else}}
        <img class="movie-card__image" src="" data-source="https://i114.fastpic.ru/big/2020/1029/1d/f806bccd6cf981cfdeb2b7c18629ad1d.jpg"
             data-id="{{id}}" alt="{{title}}"
             data-lazy="https://i114.fastpic.ru/big/2020/1029/1d/f806bccd6cf981cfdeb2b7c18629ad1d.jpg"/>
      {{/if}}

      <div class="stats">
            <p class="stats-item">
                <i class="material-icons">thumb_up</i>
                {{likes}}
            </p>
            <p class="stats-item">
                <i class="material-icons">visibility</i>
                {{views}}
            </p>
            <p class="stats-item">
                <i class="material-icons">comment</i>
                {{comments}}
            </p>
            <p class="stats-item">
                <i class="material-icons">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    </div></li>
{{/each}}


