{{#each this}}
  <li class="images-list__item" data-src="{{largeImageURL}}">
    <a data-fslightbox href="{{largeImageURL}}">
      <img src="{{webformatURL}}" alt=""  width="300px" class="large-image" data-src="{{largeImageURL}}">
    </a>

    <div class="stats">
      <p class="stats-item">
        <i class="material-icons">thumb_up</i>
        {{likes}}
      </p>
      <p class="stats-item">
        <i class="material-icons">visibility</i>
        {{views}}
      </p>
      <p class="stats-item">
        <i class="material-icons">comment</i>
        {{comments}}
      </p>
      <p class="stats-item">
        <i class="material-icons">cloud_download</i>
        {{downloads}}
      </p>
    </div>
  </li>
{{/each}}


