{{#each this}}
    <li>
      <div class="movie-card">
        {{#if backdrop_path}}
          <img class="movie-card__image" src="" data-source="https://image.tmdb.org/t/p/w500{{backdrop_path}}"
               data-id="{{id}}" alt="{{title}}"
               data-lazy="https://image.tmdb.org/t/p/w500{{backdrop_path}}"/>
        {{else}}
          <img class="movie-card__image" src="" data-source="./images/noImageCard.jpg"
               data-id="{{id}}" alt="{{title}}"
               data-lazy="./images/noImageCard.jpg"/>
        {{/if}}
        <span class="movie-card__title">{{title}}</span>
        <span class="movie-card__vote">{{vote_average}}</span>
      </div>
    </li>
{{/each}}

